@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Preahvihear&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
.portfolio {
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}


.header {
  background-color: rgba(26, 11, 46, 1);
  box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  width: 100%;
  padding: 49px 70px;
  align-items: center;
  font-family: Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.4px;
  justify-content: space-around;
}

.navigation {
  display: flex;
  max-width: 100%;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

.background {
  background-color: rgba(17, 7, 31, 1);
  display: flex;
  margin-top: -11px;
  width: 100%;
  padding: 144px 80px 129px;
  align-items: center;
  
}

.content {
  display: flex;
  margin-left: 54px;
  margin-bottom: -54px;
  width: 1172px;
  max-width: 100%;
  flex-direction: column;
  align-items: stretch;
  max-width: 1280px;
  margin: 0 auto;
}

.greeting {
  color: rgba(255, 255, 255, 1);
  font-size: 19px;
  font-family: Preahvihear, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 5;
  letter-spacing: -0.5px;
  text-align: center;
  align-self: start;
  margin-left: 252px;

  display: flex;
  align-items: end;
  gap: 20px;
}

.heroContent {
  margin-top: 43px;
  width: 652px;
  max-width: 100%;
  display: flex;
  gap: 20px;
}

.imageColumn {
  width: 40%;
}

.profileImage {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.textColumn {
  width: 60%;
  margin-left: 20px;
}

.tagline {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  align-self: stretch;
  font-family: Preahvihear, -apple-system, Roboto, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
}

.taglineText {
  font-size: 50px;
  line-height: 63px;
  letter-spacing: 1px;
}

.taglineSubtext {
  font-size: 11px;
  letter-spacing: 0.22px;
  text-align: center;
  align-self: start;
}

.introduction {
  display: flex;
  margin-top: 96px;
  width: 100%;
  padding: 0 5px;
  flex-direction: column;
  align-items: start;
}

.role {
  color: rgba(255, 255, 255, 1);
  font-size: 50px;
  font-family: Preahvihear, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 11px;
}

.currentRole {
  color: rgba(255, 255, 255, 1);
  font-size: 21px;
  font-family: Preahvihear, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.42px;
  z-index: 10;
  margin-top: -14px;
  margin-left: 11px;
}

.bio {
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
  font-family: Preahvihear, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.44px;
  margin-top: 30px;
  margin-left: 14px;
  width: 892px;
}

.workExperience {
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-family: Preahvihear, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin-top: 170px;
}

.workCards {
  display: flex;
  gap: 20px;
  margin-top: 44px;
}

.workCard {
  border-radius: 15px;
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
  width: 100%;
  padding-bottom: 25px;
}

.cardContent {
  padding: 36px 65px 17px;
  display: flex;
  gap: 20px;
}

.cardLogo {
  width: 122px;
  aspect-ratio: 1.06;
  object-fit: contain;
}

.cardText {
  margin-top: 10px;
  font-family: Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}

.cardTitle {
  font-size: 26px;
  font-weight: 600;
  line-height: 1;
}

.cardDescription {
  font-size: 8px;
  line-height: 11px;
  margin-top: 14px;
}

.learnMore {
  border-radius: 10px;
  background-color: rgba(44, 18, 80, 1);
  border: 1px solid rgba(105, 59, 147, 1);
  margin-top: 12px;
  width: 119px;
  padding: 10px 28px 16px;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
  color: inherit;
}

.workImages {
  display: flex;
  gap: 20px;
  margin-top: 14px;
}

.workImage {
  aspect-ratio: 2.91;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.workShowcase {
  aspect-ratio: 1.19;
  object-fit: contain;
  object-position: center;
  width: 895px;
  align-self: center;
  margin-top: 160px;
  max-width: 100%;
}

.projectsSection {
  margin-top: 191px;
}

.projectRow {
  display: flex;
  gap: 20px;
  margin-bottom: 211px;
}

.projectInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.projectCard {
  margin-top: 43px;
}

.projectTitle {
  color: rgba(204, 214, 246, 1);
  font-size: 34px;
  font-family: Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0.68px;
}

.projectDescription {
  background-image: url("https://cdn.builder.io/api/v1/image/assets/dd15ee627bdf46a9b691a6ea1dddc9a1/9d4a6488b10a07ab51805290adbf92a56174aab5da3ffdb3fe2e55fbd11239bb");
  background-size: cover;
  border-radius: 14px;
  min-height: 165px;
  margin-top: 30px;
  padding: 29px 34px;
  font-family: Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 18px;
  color: rgba(204, 214, 246, 1);
  font-weight: 500;
}

.projectLinks {
  display: flex;
  margin-top: 36px;
  margin-left: 27px;
  gap: 17px;
}

.projectLink {
  width: 31px;
  aspect-ratio: 1;
  object-fit: contain;
}

.projectLinkWrapper {
  position: relative;
  width: 31px;
  aspect-ratio: 1;
  overflow: hidden;
}

.projectLinkBg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.projectLinkIcon {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.projectImage {
  aspect-ratio: 1.71;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.contactSection {
  margin-top: 34px;
}

.contact {
  color: rgba(255, 255, 255, 1);
  font-size: 25px;
  font-family: Preahvihear, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.telegramDiv {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.telegramIcon {
  max-width: 49px;
  cursor: pointer;
}

.contactText {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-family: Preahvihear, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-top: 33px;
}

.highlight {
  color: rgba(113, 39, 186, 1);
}

.company {
  color: rgba(24, 119, 242, 1);
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding: 49px 20px;
    white-space: initial;
  }

  .navigation {
    white-space: initial;
  }

  .background {
    max-width: 100%;
    padding: 100px 20px;
  }

  .content {
    margin-bottom: 10px;
  }

  .greeting {
    margin-left: 10px;
  }

  .heroContent {
    margin-top: 40px;
    flex-direction: column;
  }

  .imageColumn,
  .textColumn {
    width: 100%;
    margin-left: 0;
  }

  .profileImage {
    margin-top: 8px;
  }

  .tagline {
    margin-top: 40px;
  }

  .taglineText {
    font-size: 40px;
    line-height: 56px;
  }

  .introduction {
    max-width: 100%;
    margin-top: 40px;
  }

  .role {
    max-width: 100%;
    font-size: 40px;
  }

  .currentRole {
    max-width: 100%;
  }

  .bio {
    max-width: 100%;
    margin-top: 40px;
  }

  .workExperience {
    margin-left: 5px;
    margin-top: 40px;
  }

  .workCards {
    max-width: 100%;
    margin-right: 2px;
    margin-top: 40px;
    flex-direction: column;
  }

  .workCard {
    max-width: 100%;
    margin-top: 20px;
  }

  .cardContent {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
  }

  .cardLogo {
    margin-top: 40px;
  }

  .cardText {
    margin-top: 40px;
  }

  .cardDescription {
    margin-right: 10px;
  }

  .learnMore {
    padding: 10px 20px;
  }

  .workImage {
    max-width: 100%;
    margin-top: 25px;
  }

  .workShowcase {
    margin-top: 40px;
  }

  .projectsSection {
    max-width: 100%;
    margin-top: 40px;
  }

  .projectRow {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .projectInfo {
    width: 100%;
  }

  .projectCard {
    margin-top: 40px;
  }

  .projectDescription {
    max-width: 100%;
    padding: 20px;
  }

  .projectLinks {
    margin-left: 10px;
  }

  .projectImage {
    max-width: 100%;
  }

  .contactSection {
    margin-top: 40px;
  }

  .contactText {
    max-width: 100%;
    margin-top: 40px;
  }
}

.skills {
  display: flex;
  /* padding: 60px 80px; */
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  font-family: Sora, -apple-system, Roboto, Helvetica, sans-serif;
  color: #000;
  white-space: nowrap;
  justify-content: center;
}

@media (max-width: 991px) {
  .skills {
    padding: 60px 20px;
    white-space: initial;
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
    white-space: initial;
  }
}

.titleRow {
  display: flex;
  width: 100%;
  padding: 20px 0;
  margin-top: 100px;
  align-items: center;
  gap: 16px;
  overflow: hidden;
  font-size: 48px;
  letter-spacing: -0.96px;
  line-height: 1;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .titleRow {
    max-width: 100%;
    font-size: 40px;
    white-space: initial;
  }
}

.titleLight {
  font-weight: 400;
  align-self: stretch;
  margin: auto 0;
  font-family: Preahvihear, -apple-system, Roboto, Helvetica, sans-serif;
  color: #fff;
}

@media (max-width: 991px) {
  .titleLight {
    font-size: 40px;
  }
}

.titleBold {
  font-weight: 800;
  align-self: stretch;
  margin: auto 0;
  font-family: Preahvihear, -apple-system, Roboto, Helvetica, sans-serif;
  color: rgba(105, 59, 147, 1);
}

.skillCard.active {
  background-color: rgba(113, 39, 186, 1);
  transition: background-color 0.5s ease;
  color: #fff;
}

@media (max-width: 991px) {
  .titleBold {
    font-size: 40px;
  }
}

.skillsGrid {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
 gap: 10px;
}

@media (max-width: 991px) {
  .skillsGrid {
    max-width: 100%;
    white-space: initial;
  }
}


@media (max-width: 991px) {
  .skillsRow {
    max-width: 100%;
    white-space: initial;
  }
}

.skillCard {
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 2px solid var(--Primary-Black, #000);
  background: #fff;
  align-self: stretch;
  display: flex;
  margin: auto 0;
  min-height: 186px;
  padding: 0 24px;
  border-radius: 20px;
  flex-direction: column;
  width: 186px;
  height: 186px;
  font-family: Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .skillCard {
    padding: 0 20px;
    white-space: initial;
  }
}

.skillIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 56px;
  align-self: center;
}

.skillName {
  margin-top: 32px;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

.heading {
  display: flex;
  width: 100%;
  padding: 20px 0;
  align-items: center;
  gap: 16px;
  overflow: hidden;
  font-family:
    Sora,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 48px;
  color: #fff;
  margin-top: 100px;
  white-space: nowrap;
  letter-spacing: -0.96px;
  line-height: 1;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .heading {
    max-width: 100%;
    font-size: 40px;
    white-space: initial;
  }
}

.my {
  font-weight: 400;
  align-self: stretch;
  margin: auto 0;
  font-family: Preahvihear, -apple-system, Roboto, Helvetica, sans-serif;
}

.projects {
  font-weight: 800;
  align-self: stretch;
  margin: auto 0;
  font-family: Preahvihear, -apple-system, Roboto, Helvetica, sans-serif;
  color: rgba(105, 59, 147, 1);
}
.headingText {
  display: flex;
  gap: 10px;
}

@media (max-width: 991px) {
  .my,
  .projects {
    font-size: 40px;
  }
}

.project1 {
  display: flex;
  margin-top: 20px;
  width: 100%;
  padding: 20px 0;
  align-items: center;
  gap: 40px;
  overflow: hidden;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .project1 {
    max-width: 100%;
  }
}

.image,
.image2 {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  margin: auto 0;
  min-height: 476px;
  align-items: center;
  overflow: hidden;
  width: 594px;
}

.image {
  justify-content: flex-start;
}

.image2 {
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .image,
  .image2 {
    max-width: 100%;
  }
}

.img {
  aspect-ratio: 1.33;
  object-fit: contain;
  object-position: center;
  width: 530px;
  border-radius: 19px;
  box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12);
  align-self: stretch;
  min-width: 240px;
  margin: auto 0;
}

.details {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  margin: auto 0;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
  font-family:
    Sora,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  color: #fff;
  justify-content: center;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

@media (max-width: 991px) {
  .details {
    max-width: 100%;
  }
}

.div {
  width: 100%;
}

@media (max-width: 991px) {
  .div {
    max-width: 100%;
  }
}

.num1,
.num2,
.num3 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.96px;
}

@media (max-width: 991px) {
  .num1,
  .num2,
  .num3 {
    max-width: 100%;
    font-size: 40px;
  }
}

.cryptoScreenerApplication,
.euphoriaEcommerceApparelsWebsiteTemplate,
.blogWebsiteTemplate {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.64px;
  margin-top: 28px;
  color: rgba(105, 59, 147, 1);
}

.div2 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.euphoriaEcommerceApparelsWebsiteTemplate {
  line-height: 40px;
}

@media (max-width: 991px) {
  .cryptoScreenerApplication,
  .euphoriaEcommerceApparelsWebsiteTemplate,
  .blogWebsiteTemplate {
    max-width: 100%;
  }
}

.imEvrenShahLoremIpsumIsSimplyDummyTextOfThePrintingAndTypesettingIndustryLoremIpsumHasBeenTheIndustrysStandardDummyTextEverSinceThe1500SWhenAnUnknownPrinterTookAGalleyOfTypeAndScrambledItToSpecimenBook {
  color: #71717a;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-top: 28px;
}

@media (max-width: 991px) {
  .imEvrenShahLoremIpsumIsSimplyDummyTextOfThePrintingAndTypesettingIndustryLoremIpsumHasBeenTheIndustrysStandardDummyTextEverSinceThe1500SWhenAnUnknownPrinterTookAGalleyOfTypeAndScrambledItToSpecimenBook {
    max-width: 100%;
  }
}

.readMore,
.readMore2 {
  display: flex;
  min-height: 30px;
  margin-top: 28px;
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.readMore2 {
  margin-top: 30px;
}

.blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
